<% current_cart.cart_products.each do |cart_product| %>
  <div id="cart-product-<%= cart_product.id %>" class="border-bottom mb-3">
    <%= render partial: 'cart_products/cart_product', locals: { cart_product: cart_product } %>
  </div>
<% end %>