<div class="inventory--output"></div>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        let output_element = document.querySelector('.inventory--output');
        InventoryMonitor.init(output_element);
    })
</script>