<div class="row mt-4">
  <div class="col-md-12 d-flex">
    <h3>Stores</h3>
  </div>
</div>

<table class="table mt-4">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td>
        <%= link_to 'View', store_path(store.id) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>