<div class="row mt-4 ms-0 border-bottom">
  <div class="col-md-12 ps-0">
    <h3>New Store</h3>
  </div>
</div>

<div class="mt-4">
  <%= form_for @store, url: stores_path do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
